* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: my-font;
    src: url(../fonts/BreeSerif-Regular.ttf);
}


/* ================================================================ */


/* header_section Starts */

.top-full-width {
    width: 100%;
    background-color: #333366;
    margin-bottom: 2rem;
}

.jp-text {
    padding: 1.5rem 0px;
}

.jp-text h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: green;
}

.jp-text .police {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(216, 45, 45);
    display: block;
}

.logo-text {
    text-align: center;
    border: 3px solid rgb(47, 179, 255);
    border-left-color: rgb(216, 45, 45);
    border-right-color: rgb(216, 45, 45);
    border-bottom: 1px solid #333366;
    border-radius: 80%;
    padding: 1.5rem 0px;
}

.logo-text h1 {
    font-family: my-font;
    font-size: 2.3rem;
    font-weight: 700;
    color: rgb(209, 203, 203);
    text-shadow: 10px 10px 7px rgb(209, 203, 203);
}

.logo-text .school {
    font-size: 2rem;
    display: block;
}


/* Logo-Text Ends */


/* MyNavigation starts */

#mynavigation {
    background-color: #333366;
    margin-bottom: 2rem;
    border-radius: 0;
}

#mynavigation .nav-brand {
    font-family: my-font;
    font-size: 2rem;
    color: #ffffff;
}

#mynavigation a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 100;
}

#mynavigation .downmenu {
    background-color: #333366;
}

#mynavigation a:hover {
    background-color: #7676aa;
}


/* MyNavigation Ends */


/* Concept of CIAT School Starts */

.section-two {
    margin-bottom: 2rem;
}

.concept-text {
    border-left: 5px solid green;
    background-color: #fffbfb;
    box-shadow: 15px 15px 15px;
    padding: 0.4em .7em 0.4em .7em;
}

.thrust-trg {
    border-left: 5px solid green;
    background-color: #ffffff;
    box-shadow: 15px 15px 15px;
}

.concept-text h2,
.thrust-trg h2 {
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgb(141, 137, 137);
    color: #57606f;
    text-align: center;
}

.concept-text p {
    letter-spacing: 0.9px;
}

.concept-text p,
.thrust-trg p {
    font-size: 1em;
    font-weight: 100;
    text-align: justify;
    color: #1a1a1b;
}

.concept-text .fas,
.thrust-trg .fas {
    font-size: 0.9em;
    padding: 0px 1em 0px 1px;
}


/* Concept of CIAT School Ends */

.section-two .about {
    background-color: #ffffff;
    margin: 2em 0;
    border: 2px solid green;
}

.section-two .about h2,
.superviser h2 {
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgb(141, 137, 137);
    color: #57606f;
    text-align: center;
}

.section-two .about h6 {
    font-size: 1em;
    font-weight: 400;
    text-decoration-color: rgb(141, 137, 137);
    color: #1a1a1b;
    text-align: left;
}

.section-two .about p {
    font-size: 1em;
    font-weight: 100;
    text-align: justify;
    color: #1a1a1b;
}

.section-two .about .fas {
    font-size: 0.9em;
    padding: 0px 1em 0px 1px;
}

.section-two .superviser {
    background-color: #ffffff;
    margin-top: 5.5em;
    border: 2px solid green;
}

.section-two .superviser h4 {
    font-size: 1em;
    font-weight: 700;
    color: #1a1a1b;
    line-height: 1.6em;
}

.section-two .superviser h5 {
    font-size: 1em;
    font-weight: 700;
    color: #1a1a1b;
    line-height: 1.6em;
}

.section-two .superviser .gallantry {
    color: goldenrod;
}

.carousel-section {
    padding: 0;
    background-color: greenyellow;
}

.gallery h2 {
    font-size: 2.3rem;
    font-weight: 700;
    text-decoration: underline;
}

.right-section .superviser {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jhpolice img {
    width: 100%;
}


/* School name section Starts */

.ciat-school {
    width: 100%;
    background-color: #7676aa;
    padding-left: 0;
    margin-left: 0;
}

.ciat-schoo .left {
    margin-right: 5%;
}